.form {
  display: flex;
  flex-direction: column;
}

.form>* {
  width: 100%;
}

.form {
  margin: auto;
  margin-top: 0%;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.header {
  margin-left: 36%;
  margin-top: 08%
}

.formArea {
  margin: 0;
  width: 80%;
}

mat-form-field{
  width: 100%;
  margin: 0
}
.response{
  margin: auto;
  padding: 1px;
  border: 1px solid black;
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}