.ReportACrime{
    margin: auto;
    margin-top: 0%;
    width: 70%;
    border: 3px solid rgb(4, 66, 124);
    padding: 10px;
}
.header{
    margin-top: 8%;
    margin-left: 40%;
}
.response{
    margin: auto;
    padding: 1px;
    border: 1px solid black;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
  }