<div class="logout">
    <button mat-button color="warn" (click)="logout()">Logout</button>
</div>
<h3 class="emergencytable">EmergencyTable</h3>
<table mat-table [dataSource]="emerdataSource">
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
    <ng-container matColumnDef="Reason">
        <th mat-header-cell *matHeaderCellDef> Reason </th>
        <td mat-cell *matCellDef="let element"> {{element.Reason}} </td>
    </ng-container>

    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
    </ng-container>

    <ng-container matColumnDef="Mobile">
        <th mat-header-cell *matHeaderCellDef> Mobile </th>
        <td mat-cell *matCellDef="let element"> {{element.Mobile}} </td>
    </ng-container>

    <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<hr>

<h3 class="FIRtable">FIR Records</h3>
<table mat-table [dataSource]="firdataSource">
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let FIR"> {{FIR.position}} </td>
    </ng-container>
    <ng-container matColumnDef="RegistrationNo">
        <th mat-header-cell *matHeaderCellDef> Registration number </th>
        <td mat-cell *matCellDef="let FIR"> {{FIR.RegistrationNo}} </td>
    </ng-container>

    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let FIR"> {{FIR.Name}} </td>
    </ng-container>

    <ng-container matColumnDef="Emailid">
        <th mat-header-cell *matHeaderCellDef> Email ID </th>
        <td mat-cell *matCellDef="let FIR"> {{FIR.Emailid}} </td>
    </ng-container>

    <ng-container matColumnDef="Mobile">
        <th mat-header-cell *matHeaderCellDef> Mobile </th>
        <td mat-cell *matCellDef="let FIR"> {{FIR.Mobile}} </td>
    </ng-container>

    <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let FIR"> {{FIR.Description}} </td>
    </ng-container>
    <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let FIR"> {{FIR.Address}} </td>
    </ng-container>

    <ng-container matColumnDef="City">
        <th mat-header-cell *matHeaderCellDef> City </th>
        <td mat-cell *matCellDef="let FIR"> {{FIR.City}} </td>
    </ng-container>

    <ng-container matColumnDef="State">
        <th mat-header-cell *matHeaderCellDef> State </th>
        <td mat-cell *matCellDef="let FIR"> {{FIR.State}} </td>
    </ng-container>

    <ng-container matColumnDef="PinCode">
        <th mat-header-cell *matHeaderCellDef> PinCode </th>
        <td mat-cell *matCellDef="let FIR"> {{FIR.PinCode}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> status </th>
        <td mat-cell *matCellDef="let FIR"> {{FIR.status}} </td>
    </ng-container>
    <ng-container matColumnDef="file">
        <th mat-header-cell *matHeaderCellDef> File </th>
        <td mat-cell *matCellDef="let FIR"> {{FIR.File}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
</table>
<hr>

<h3 class="reportACrime">Report A Crime</h3>
<table mat-table [dataSource]="reportcrimeSource">
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let Report"> {{Report.position}} </td>
    </ng-container>
    <ng-container matColumnDef="descript">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let Report"> {{Report.descript}} </td>
    </ng-container>
    <!-- <ng-container matColumnDef="file">
        <th mat-header-cell *matHeaderCellDef> File </th>
        <td mat-cell *matCellDef="let Report"> {{Report.file}} </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
</table>
<hr>